<div class="row">
	<div class="col-md-12">
		<h1>Thank You For Your Courage</h1>
		<p><a href="/">Back to Home</a></p>
		<p>In case you need it, here are some resources for help...</p>
		<p>
			<a href="one">one</a>
			<a href="two">two</a>
			<a href="three">three</a>
		</p>
	</div>
</div>


<div class="row">
	<div class="col-md-12">
		<h2>How About Helping More?</h2>
		<p>Also, you can help others even more. How about you volunteer for/donate to some of these...</p>
		<p>
			<a href="one">one</a>
			<a href="two">two</a>
			<a href="three">three</a>
		</p>
	</div>
</div>
