<div class="forms-div">
	<div class="forms-header">
	<h1>Upload Orders</h1>
	</div>
	Upload your order file here<br/>
	Confused?  No problem, <a href="mailto:support@featureviz.com">ask support at support@featureviz.com</a>
	<%= form_tag '/ecomm/upload', :multipart=>true do |f|%>
		<%= file_field_tag :export_file%><br/>
		<%= submit_tag 'Upload', :class=>'btn'%><br/>
	<% end %>
</div>
