
<div col="row headline-row">
	<h3>Your Recent Repeat Purchases</h3> <a href="#">what is this?</a>
</div>

<div class="row">
	<div class="table-responsive">
    	<table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Name</th>
            <th>Customer Age (days)</th>
            <th>Products</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Joe Blow</td>
            <td>36</td>
            <td>Tomatoes / Garlic</td>
          </tr>
        </tbody>
      </table>
	</div>	
</div>
