
<div col="row headline-row">
	<h3>Top Purchase Sequences</h3> <a href="#">what is this?</a>
</div>

<div class="row">
	<div class="table-responsive">
    	<table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Product 1</th>
            <th>Product 2</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>The Shawshank Redemption</td>
          </tr>
        </tbody>
      </table>
	</div>	
</div>
