<div id="graphs" class="graphs-div">
<% content_for :javascript_includes do %>
  <script src="https://s3.amazonaws.com/fv-assets/jqplot/jquery.jqplot.js"></script>
  <script src="https://s3.amazonaws.com/fv-assets/jqplot/plugins/jqplot.cursor.js"></script>
  <script src="https://s3.amazonaws.com/fv-assets/jqplot/plugins/jqplot.barRenderer.js"></script>
  <script src="https://s3.amazonaws.com/fv-assets/jqplot/plugins/jqplot.highlighter.js"></script>
<% end %>	
<% content_for :stylesheet_includes do %>
  <link href="https://s3.amazonaws.com/fv-assets/jqplot/jquery.jqplot.css" rel="stylesheet"></script>
<% end %>	

<div id="graph-placeholder" style="width:600p;height:600px;padding:0px;">
	
</div>
<div id="graph-controls">
	<input class="btn" type="submit" id="reset-zoom-button" value="Reset Zoom"/>
</div>

<script type="text/javascript" language="JavaScript">
(function($) { 
    $.jqplot.DecimalToPercentageFormatter = function (format, val) { 
            if (typeof val == 'number') { 
                    val = val*100; 
            if (!format) { 
                format = '%.1f'; 
            } 
            return $.jqplot.sprintf(format, val) + '%'; 
        } 
        else { 
            return String(val); 
        } 
    }; 
})(jQuery); 

draw_graph = function(div, dataSeries, seriesLabels, axisLabels, graphTitle) {
    theGraph = $.jqplot(div, 
    	dataSeries,
    	{
    		seriesDefaults: { renderer: $.jqplot.LineRenderer
    			
    		},/*
    		legend: {
                    show: true,
                    placement: 'outsideGrid'
                }, */
    		axes: {
    			xaxis: {
    				showGridline: false,
    				renderer: $.jqplot.CategoryAxisRenderer,
    				min: 0,
    				label: graphTitle
    				//ticks: ticks
    			},
    			yaxis: {
    				min: 0,
    				label: axisLabels[0],
    				tickOptions: {
    					showGridline: false
    				}
    			},
    			y2axis: {
    				min: 0,
    				label: axisLabels[1],
    				tickOptions: {
    					showGridline: true,
    					formatter: $.jqplot.DecimalToPercentageFormatter
    				}
    			},
    			y3axis: {
    				min: 0,
    				label: axisLabels[2],
    				tickOptions: {
    					showGridline: false,
    					formatter: $.jqplot.DecimalToPercentageFormatter
    				}
    			}
    		},
    		series: [{yaxis:'yaxis', label:seriesLabels[0], renderer: $.jqplot.LineRenderer}, //TODO: figure out why the BarRenderer looks funny and use it.
    				{yaxis:'y2axis', label:seriesLabels[1]},
    				{yaxis:'y3axis', label:seriesLabels[2]}
    		],
    		highlighter: {
    			showTooltip: true
    		},
    		cursor: {
    			show: true,
    			zoom: true,
    			showTooltip: false
    		}
    		
  		});
};


$(document).ready(function() {
	$.jqplot.config.enablePlugins = true;
	$.ajax({
		url: "<%=data_url%>",
		dataType: "json",
		error: function() {alert("Failed to fetch graph")},
		success: function(data, textStatus, jqXHR){
			<%=success_function_name%>("graph-placeholder", data);
		}
	});
	$('#reset-zoom-button').click(function() {theGraph.resetZoom()});
});

</script>

</div>
